<div class="container">
  <div class="col-md-12 margin-top-5per article-block">
    <h1 class="text-center">ブログの編集</h1>
        <div class="articles">
      <% @article.images.each do |image| %>
        <%= image_tag image, class:'images' %>
      <% end %>
    </div>

    <div class="padding-bottom-15">
      <%= render 'form', article: @article %>
    </div>
  </div>
</div>