<div class="container">
  <div class="col-md-12 margin-top-5per article-block">
    <h1 class="text-center">ブログの新規作成</h1>
    <div class="padding-bottom-15">
      <%= render 'form', article: @article %>
    </div>
  </div>
</div>